<app-header></app-header>
<div class="center ">
<form class="card  w-50 m-5"  >
  <h3 class="center m-3">Sign Up</h3>

  <div class="m-3">
    <label>First name: </label>
    <input type="text" class="form-control" placeholder="First name" onchange="{(e)=> {
    setLName(e.target.value)}}"
    />
  </div>

  <div class="m-3">
    <label>Last name: </label>
    <input type="text" class="form-control" placeholder="Last name"
    />
  </div>

  <div class="m-3">
    <label>Address:</label>
    <input type="text" class="form-control" />
  </div>
  <div class="m-3">
    <label>Contact No:</label>
    <input type="text" class="form-control" />
  </div>
  <div class="m-3 ">
    <label>E-Mail: </label>
    <input type="email" class="form-control" placeholder="Enter email" #userEmail
    required
    />
  </div>

  <div class="m-3">
    <label>Password: </label>
    <input type="password" class="form-control" placeholder="Enter password" #userPwd
    required 
    />
  </div>
 

  <div class="d-grid m-3  center">
    <button type="submit" class="btn btn-success" (click)="authService.SignUp(userEmail.value, userPwd.value)">
      Sign Up
    </button>
  </div>
  <div class="redirectToLogin center m-3">
    <span>Already have an account?
      <a class="redirect "  routerLink="/sign-in">Log In</a></span>
  </div>
</form>
</div>
<app-footer></app-footer>